spring:
  application:
    name: demo
  datasource:
    url: jdbc:mysql://localhost:3306/testdb
    username: testUser
    password: testPass
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      pool-name: MyHikariCP
      max-lifetime: 1800000
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
